<div class="product-thumb product-thumb-horizontal">
    <div ng-repeat="item in data track by $index">
        <header class="product-header">
            <img src="img/800x600.png" alt="Image Alternative text" title="Old No7" />
        </header>
        <div class="product-inner">
            <h5 class="product-title">{{item.name}}</h5>
            <div class="product-desciption">{{item.description}}</div>
            <div class="product-meta">
                <span class="product-time">
                    <i class="fa fa-clock-o"> Condition: {{item.condition}}</i>
                </span>
                <ul class="product-price-list">
                    <li><span class="product-price">{{item.price}}</span>
                    </li>
                </ul>
                <ul class="product-actions-list">
                    <li><a class="btn btn-sm" ng-click="addToCart(item)" ng-hide="{{path === '/checkout'}}"><i class="fa fa-shopping-cart"></i> To Cart</a>
                    </li>
                    <li ng-show="{{path === '/checkout'}}"><a class="btn btn-sm" ng-click="remove(item)"><i class="fa fa-trash-o"></i> Remove</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gap"></div>
    </div>  
    <div ng-show="canSendOrder()" ng-click="sendOrder()" class="row" ng-show="{{path === '/checkout'}}">
        <a class="btn btn-primary btn-lg center-block">
            <span>Send your orders!</span>
        </a>
    </div>
    <div ng-hide="canSendOrder() || {{path !== '/checkout'}}" class="row">
        <a class="btn btn-danger btn-lg center-block disabled">
            <span>You have no items in cart!</span>
        </a>
    </div>
</div>
