<div ng-show="canSendOrder() || submitted" id="register-dialog" class="mfp-dialog clearfix">
    <i class="fa fa-edit dialog-icon"></i>
    <h3>Your Information</h3>
    <h5 ng-hide="submitted">Please provide me with your contact information and I will be in touch with you as soon as possible!</h5>
    <h5 ng-show="submitted">Order placed successfully!! I will reach out to you as soon as possible!</h5>
    <form ng-hide="submitted" ng-submit="submit(contactform)" name="contactform" class="dialog-form" role="form">
        <div class="form-group">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
        </div>
        <div class="form-group">
            <label for="inputPhone">Phone Number</label>
            <input ng-model="formData.inputPhone" type="number" class="form-control" id="inputPhone" name="inputPhone" placeholder="Your Phone Number" required>
        </div>
        <div class="form-group">
            <label for="inputMessage">Message</label>
            <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..."></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="submitted">
                Send Your Order
            </button>
        </div>
    </form>
</div>

<div ng-hide="canSendOrder() || submitted" id="register-dialog" class="mfp-dialog clearfix">
    <h3>You have no items in cart</h3>
</div>